#main-figure
  .figure-container{style:"width: 100%; height: 100%;"}
    .paper-headline.toUpper
      %span.title-word Bringing New Ideas
      %span.title-word.center To
      %span.title-word Senior Living
    .video-container
      %a.play.various{:class => "fancybox.iframe", :href => "http://www.youtube.com/embed/9A2nhjijhPs?autoplay=1"} Youtube (iframe)
      %span.intro Watch Our Intro Video

.mission.container
  .sized
    %h1.toUpper.sectionTitle
      %span.noBold Senior Housing.
    %br
    %h1.toUpper.sectionTitle.noBold Simplified.
    .sectionDescription Let us help you find the right senior living community.
  .row
    .left
      .pic.firstcommunity
        %img.tile.bottom{:alt => "", :src => "http://media-cache-ec0.pinimg.com/736x/f7/b3/d2/f7b3d20793cd2d866c6649854a505429.jpg"}/
    .right
      %p.description High quality community photos

#slider
  #slider_container.container
    .slides_container{style: "overflow: hidden; position: relative; display: block;"}
      .slides_control{style: "position: relative; width: 3600px; height: 120px; left: -1200px;"}
        .row{style: "margin-top: 25px; position: absolute; top: 0px; left: 1200px; z-index: 0; opacity: 1;"}
          .span10.offset1
            .span3{style: "margin-left:0px; margin-top:5px;"}
              %h1{style: "font-size: 40px;"} Contact Us
            .span7{style: "margin-top:1px;"}
              .m700 HomeForGrandma Inc.
              .m700 9868 Las Tunas Drive, Temple City, CA 91780, USA
              .m700 1-800-434-0324
    .span1{style: "display: inline; padding-top:30px;margin-top:-12%;margin-left:85%;"}
      %a.twitter-share-button{"data-dnt" => "true", "data-size" => "large", "data-text" => "Check out HomeForGrandma! It's 90 seconds to find senior living!", "data-via" => "homeforgrandma", href: "https://twitter.com/share"} Tweet
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      %a{"data-pin-config" => "beside", "data-pin-do" => "buttonPin", "data-pin-height" => "28", href: "//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fhomeforgrandma.com&media=https%3A%2F%2Ffarm4.staticflickr.com%2F3720%2F13568102535_b13df5b923.jpg&description=HomeForGrandma%3A%20Bringing%20new%20ideas%20to%20senior%20living"}
        %img{src: "//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_28.png"}/
      / Please call pinit.js only once per page
      %script{async: "", src: "//assets.pinterest.com/js/pinit.js", type: "text/javascript"}