.mission.container
  .video-container
    %a.play.various{:class => "fancybox.iframe", :href => "http://www.youtube.com/embed/U1NuFyEfWfQ?autoplay=1"} Youtube (iframe)
    %span.intro Watch Our Intro Video
  .sized
    %h1.toUpper.sectionTitle
      %span.noBold Bringing New Ideas To
    %br
    %h1.toUpper.sectionTitle.noBold Senior Living.
    .sectionDescription Our innovative new website is almost ready. We will be launching soon!

  #sliderFrame
    #slider
      %img{src: "http://media-cache-ak0.pinimg.com/originals/30/64/6f/30646f1d80abc76ed2e8d8233e7daabe.jpg", alt:"A+ Senior Care Manor, Temple City, CA"}/
      %img{alt: "Assisted Comfort Home, Woodland Hills, CA", src: "http://media-cache-ec0.pinimg.com/originals/56/6d/46/566d46667d7bfbc2fd2851e3d470572b.jpg"}/
      %img{src: "http://media-cache-ak0.pinimg.com/originals/43/cb/44/43cb443245bc55bf816e3876278bf6f9.jpg", alt:"Arcadia Retirement Village, Arcadia, CA"}/
      %img{src: "http://media-cache-ec0.pinimg.com/originals/84/df/95/84df9569b53dd3d5e56c2ca36efc9065.jpg", alt:"Avenue of the Bells, Woodland Hills, CA"}/
      %img{src: "http://media-cache-ec0.pinimg.com/originals/5f/6b/3c/5f6b3c1ad7f1b32b9b906a353b08f09e.jpg", alt:"Beechnut Boarding, Pomona, CA"}/
      %img{src: "http://media-cache-ak0.pinimg.com/originals/05/87/54/058754caa16d4f4f0885c6c7a2bd7da6.jpg", alt:"Better Living, Los Angeles, CA"}/
      %img{src: "http://media-cache-ak0.pinimg.com/originals/b6/0c/68/b60c689f821b9ffbc0506a6791a0a9e0.jpg", alt:"Camellia, Upland, CA"}/
      %img{src: "http://media-cache-ak0.pinimg.com/originals/a3/79/89/a3798935ca18d81a7db9ad55932df64b.jpg", alt:"Crescent Height, Los Angeles, CA"}/
      %img{src: "http://media-cache-ak0.pinimg.com/originals/18/15/68/181568222b28cb3046108e58f6bec356.jpg", alt:"D'Angelo Care Villa, Phillips Ranch, CA"}/
      %img{src: "http://media-cache-ec0.pinimg.com/originals/51/01/5e/51015e3f696e0382191092324aaa2530.jpg", alt:"La Jolla Villa, Los Angels, CA"}/
      %img{src: "http://media-cache-ak0.pinimg.com/originals/08/5f/dc/085fdc9cd06b1b56183f6d8456c30c14.jpg", alt:"The Leven Oaks, Monrovia, CA"}/
      %img{src: "http://media-cache-ec0.pinimg.com/originals/ba/c2/20/bac220e4e4e38bcea3bf586a9995d5d4.jpg", alt:"Pine House, Claremont, CA"}/
      %img{src: "http://media-cache-ec0.pinimg.com/originals/05/87/be/0587bec81338a41897e9b19146e24cf2.jpg", alt:"Sincere Care Manor, Temple City, CA"}/
      %img{src: "http://media-cache-ak0.pinimg.com/originals/24/22/65/242265769e75cee825bbf9a15bc9a383.jpg", alt:"Whispering Oaks, Glendora, CA"}/
    / Custom navigation buttons on both sides
    .sectionDescription2 We provide quality community photos.

#footer
  .container
    .footer_container{style: "overflow: hidden; position: relative; display: block;"}
      .footer_control{style: "position: relative; width: 3600px; height: 120px; left: -1200px;"}
        .row{style: "margin-top: 25px; position: absolute; top: 0px; left: 1200px; z-index: 0; opacity: 1;"}
          .span10.offset1
            .span3{style: "margin-left:0px; margin-top:5px;"}
              %h1{style: "font-size: 40px;"} Contact Us
            .span7{style: "margin-top:1px;"}
              .m700 HomeForGrandma
              .m700 9868 Las Tunas Drive Temple City, CA 91780, USA
              .m700 1-800-434-0324
    .span1{style: "display: inline; padding-top:30px;margin-top:-12%;margin-left:85%;"}
      %a.twitter-share-button{"data-dnt" => "true", "data-size" => "large", "data-text" => "Check out HomeForGrandma! It's 90 seconds to find senior living!", "data-via" => "homeforgrandma", href: "https://twitter.com/share"} Tweet
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      %a{"data-pin-config" => "beside", "data-pin-do" => "buttonPin", "data-pin-height" => "28", href: "//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fhomeforgrandma.com&media=https%3A%2F%2Ffarm4.staticflickr.com%2F3720%2F13568102535_b13df5b923.jpg&description=HomeForGrandma%3A%20Bringing%20new%20ideas%20to%20senior%20living"}
        %img{src: "//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_28.png"}/
      / Please call pinit.js only once per page
      %script{async: "", src: "//assets.pinterest.com/js/pinit.js", type: "text/javascript"}