/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

body {
    padding:0;
    margin:0;
    height:100%;
    width: 100%;
}

.hidden { display: none; }


/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.contain .alert-success {
	margin-top: 30px;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

@font-face {
    font-family: 'Museo700Regular'; /*a name to be used later*/
    src: url('Museo700-Regular.otf') format("opentype"); /*URL to font*/
}

body {
	padding:27px 0 0;
	background: url("stitched_wool.png") repeat scroll left top #FFFFFF;
	font-family: 'Museo700Regular',arial,helvetica,sans-serif;
    font-weight: normal;
}

#logo {
    background: url("hfg_logo.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    background-size: contain;
    width: 300px;
    height: 55px;
    display: inline-block;
    text-indent: -9999px;
    float: left;
    margin-top: 20px;
}

#logo-img {
	background: url("images/B-card.png") no-repeat scroll left top rgba(0, 0, 0, 0);
	height: 100px;
	width: 100px;
	background-size: contain;
	float: left;
}

.content-container {
	margin-left: 45px;
	margin-top: 50px;
	height: 50px;
	width: 500px;
}

.logo-content1 {
	background: url("images/logocontent1.png") no-repeat scroll left top rgba(0, 0, 0, 0);
	background-size: contain;
    height: 40px;
    text-indent: -9999px;
    width: 380px;
}

.logo-content2 {
	background: url("images/logocontent2.png") no-repeat scroll left top rgba(0, 0, 0, 0);
	background-size: contain;
    height: 30px;
    text-indent: -9999px;
    width: 280px;
}

#video {
    box-shadow: 0 6px 6px 5px rgba(0, 0, 0, 0.1);
    margin: 0 -15px 40px;
    padding: 0 20px;
}

#video_top {
    background: url("./images/video_top.png") repeat-x scroll left top rgba(0, 0, 0, 0);
}

#video_bot {
    background: url("./images/video_bottom.png") repeat-x scroll left top rgba(0, 0, 0, 0);
}

#video_top, #video_bot {
    height: 15px;
    margin: 0 -20px;
    padding: 0 20px;
    width: 100%;
}

#video_main {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 -20px;
    padding: 0 20px;
}

.fluid-width-video-wrapper {
    padding: 0;
    position: relative;
    width: 100%;
    height: 500px;
}

#video_clip {
	height: 100%;
	width: 100%;
}

.header .span12 {
    color: #017C76;
    font-size: 39px;
    line-height: 130%;
    text-align: center;
    text-shadow: 0 2px #FFFFFF;
}

.header .span12 strong {
    box-shadow: 0 1px 0 0 #CDCDCD, 0 2px 0 0 #FFFFFF, 0 3px 0 0 #CDCDCD, 0 4px 0 0 #FFFFFF;
    color: #0D6080;
}

.m700, strong, .bold, b {
    font-family: 'Museo700Regular',arial,helvetica,sans-serif;
    font-weight: normal;
}

.mc_custom_border_hdr {
    color: #017C76;
    font-size: 21px;
    margin-bottom: 50px;
    text-align: center;
}

.should-we {
    color: #0D6080;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

#mc_signup {
    margin-bottom: 34px;
}

.mc_merge_var {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 65%;
}

#mc_mv_EMAIL {
    border: medium none;
    color: #29AAD2;
    font-size: 18px;
    height: 40px;
    margin: 0;
    padding: 1px;
    text-indent: 20px;
    width: 100%;
}

.mc_signup_submit {
    text-align: center;
    display: inline-block;
    float: right;
    width: 32%;
}

#mc_signup_submit {
    background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 1%, #D8B683 1%, #D8B683 3%, #C7964D 3%, #BF7514 50%, #AF6900 50%, #AF6900 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #854500;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-shadow: 0 2px #854500;
    width: 100%;
}

#slider {
    background: none repeat scroll 0 0 #212828;
    box-shadow: 0 1px 0 0 #3283BA, 0 2px 0 0 #FFFFFF;
    color: #297EA5;
    padding: 30px 0;
}

#slider .m700 {
    color: #FFFFFF;
    font-size: 18px;
    margin: 5px 0;
}

#slider p {
	margin-top: 5px;
    color: #FFFFFF;
    font-size: 20px;
    text-shadow: 0 2px #226489;
}

.navbar .nav > li > a {
	color: #3EA7A7;
    font-size: 20px;      
}

.entry {
	margin-top: 30px;
}

.navbar .nav > li {
    margin-top: 20px;
}

.figure-container {
    background: url("background1.png") no-repeat;
    background-size: cover;
    width: 100%;
}

.video-container{
    width: 300px;
    height: 100px;
    position: relative;
    top: 80%;
    left: 40%;    
}

.play {
    opacity: 0.85;
    background: url("playbutton.png") no-repeat;
    background-size: 78px auto;
    display: block;
    height: 75px;
    margin-left: -37px;
    margin-top: -37px;
    border-radius: 50%;
    font-size: 0;
    margin-left: -25px;
    position: absolute;
    float: right;
    top: 1%;
    left: 50%;
    width: 75px;
}

.play:hover {
    opacity: 1;
    cursor: pointer;
}

.title-word {
    clear: left;
    display: block;
    float: left;
    margin-bottom: 7px;
}
.bold {
    font-family: 'Avenir Next LT W01 Bold';
}

.paper-headline {
    margin-left: 100px;
    width: 800px;
    height: 300px;
    position: relative;
    top: 35%;
    left: 5%;
    color: #F2EDE3;
    font-size: 70px;
    line-height: 0.85;
    text-rendering: optimizelegibility;
    display: inline-block;
    float: left;
}
.toUpper {
    text-transform: uppercase;
}

.center {
    font-size: 55px;
    margin: 40px 150px;
}

.intro {
    clear: left;
    display: inline-block;
    float: left;
    position: absolute;
    top: 50%;
    left: 20%;
    color: #F2EDE3;
    font-size: 20px;
    line-height: 0.85;
    text-rendering: optimizelegibility;
}